[Desktop Entry]
Version=1.5
Name=WhatsApp
Exec=pwa-whatsapp
Icon=whatsapp-desktop
Terminal=false
Type=Application
StartupWMClass=chrome-web.whatsapp.com__-Default
Categories=Network;InstantMessaging;
