[Desktop Entry]
Name=Gmail
Exec=pwa-gmail
Icon=pwa_gmail
Terminal=false
Type=Application
StartupWMClass=chrome-mail.google.com__-Default
Categories=Network;Email;
