.zcompdump
.zcompdump.zwc
.zsh_history
.zshrc.local
.fzf.zsh
node_modules/
.venv/
.ruff_cache/
.env*
__pycache__
*.pyc
service.json
backup.conf
client_secret.json
credentials.json
*.pem
*.key
id_*
known_hosts*
local.lua
config.local
*.local
archlinux/.config/hypr/wallpapers/*
!archlinux/.config/hypr/wallpapers/hyprland.png

!**/.local/
