@define-color text #ffffff;
@define-color text-inactive #aaaaaa;
@define-color hover-bg rgba(255, 255, 255, 0.1);
@define-color dnd-off #a6adc8;
@define-color theme-dark #7c7cac;
@define-color theme-light #f9c74f;

* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @text;
}

.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
  background: transparent;
  color: @text;
  padding: 0 10px;
}

#workspaces button {
  padding: 0 5px;
  color: @text-inactive;
}

#workspaces button.active {
  color: @text;
}

#workspaces button:hover {
  background: @hover-bg;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: 4px;
}

#window {
  font-weight: 700;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#privacy-item.audio-in {
  color: #26a65b;
}

#privacy-item.screenshare {
  color: #9b59b6;
}

#custom-dnd.dnd-on {
  color: #f38ba8;
}
#custom-dnd.dnd-off {
  color: @dnd-off;
}

#custom-theme {
  padding: 0 12px;
}
#custom-theme.light {
  color: @theme-light;
}
#custom-theme.dark {
  color: @theme-dark;
}
