configuration {
    terminal: "ghostty";
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "JetBrainsMono Nerd Font Mono 13";
    drun-display-format: "{icon} {name}";
    display-drun: " Apps";
    display-run: " Commands";
    display-window: " Windows";
    scroll-method: 1;
    sort: true;
    sorting-method: "fzf";
}
@theme "tokyonight"
