configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "JetBrainsMono Nerd Font Mono 13";
    drun-display-format: "{icon} {name}";
    display-drun: " ";
    display-run: " ";
}
@theme "tokyonight"
