@theme "tokyonight"

window {
    width: 550px;
    yoffset: -100;
}
listview {
    lines: 5;
    padding: 16px 24px 24px 24px;
}
element {
    padding: 14px 16px;
}
element-text {
    font: "JetBrainsMono Nerd Font Mono 14";
}
entry {
    placeholder: "Search power options...";
}
