@theme "tokyonight"

window {
    width: 700px;
    yoffset: -100;
}
listview {
    lines: 10;
    padding: 16px 24px 24px 24px;
}
element-text {
    font: "JetBrainsMono Nerd Font Mono 13";
}
entry {
    placeholder: "Search keybindings...";
}
