[Unit]
Description=Bedtime routine script

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=%h/.local/bin/bedtime.sh

[Install]
WantedBy=timers.target
