[Unit]
Description=Bluetooth, WiFi and USB connect/disconnect sound daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/connect-sound
Restart=always
RestartSec=5
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1

[Install]
WantedBy=default.target
