[Unit]
Description=Rclone Bisync Background Sync
After=network-online.target
OnFailure=user-notify-fail@%n.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rclone_bisync
