[Unit]
Description=Check for system updates periodically

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 08,13,18:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
