[Unit]
Description=Check for system updates once daily

[Timer]
OnBootSec=5min
OnCalendar=daily
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
