[Unit]
Description=Hyprland compositor session
Documentation=https://wiki.hypr.land
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
Before=graphical-session.target
