[Unit]
Description=Rclone Sync Background Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rclone_sync
