@import "github-dark-default.rasi"

configuration {
    display-emoji: "󰞅 Emoji";
}

entry {
    placeholder: "Search emojis...";
}

listview {
    columns: 8;
    lines: 7;
    fixed-height: true;
    spacing: 8px;
    padding: 10px 16px;
}

element {
    padding: 9px 0px;
    border-radius: @element-radius;
    orientation: vertical;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    font: "Noto Color Emoji 32, JetBrainsMono Nerd Font Mono 28";
}

element-icon {
    enabled: false;
}
